body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

#title {
    text-align: center;
    margin-top: 20px;
}

#description {
    text-align: center;
    margin-bottom: 20px;
}

#survey-form {
    width: 60%;
    margin: 0 auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}